.about{
    padding: auto;
    margin: 10px;
    justify-content: center;
}
.contact{
    padding: auto;
    margin: 10px;
    justify-content: center;
}
.feedback{
    padding: auto;
    margin: 5px;
    justify-content: center;
}
input{
    margin-left: 5px;
    background-color: antiquewhite;
}
textarea{
    margin-top: 5px;
    background-color: antiquewhite;
    
}
.btn{
    padding: 5px;
    margin: 10px;
}